li {
   list-style: none;
   font-size: 20px;
   color:rgb(170, 173, 223);
}
#timer{
    color: rgb(220, 128, 128);
  
}
.quizList{

padding: 15px;


  width: 50%;
  margin: auto;


    
}
.viewControl{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
}
.hightScoreList{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.listItems{
    background:#3f4856; padding:5px;margin:5px;color: snow;font-size:20px;letter-spacing: 3px;font-family: 'Times New Roman', Times, serif;
}
.listItems:hover{
    background-color: rgb(40, 35, 28);
    cursor:grab;
}
body{
    background-color: rgb(86, 84, 81);
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
 

 
}
#view-score{
    letter-spacing: 1px;
   
    padding: 5px;
}


#view-score:hover{
   cursor: grab;

 
}
#view-score::after{
    content: '📃';
    display: inline-block;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.warn{
    color: rgb(235, 185, 185);
}
.wellcome-holder{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.wellcome-holder p{
    font-size: 25px;
}
#view-score{
    text-decoration: underline;
    
}

#time-holder{
    display: flex;
    flex-direction: row;
}

.welcome{
    width: 100%;
    display: flex;
    justify-content: center;
}
.describtion{
    width: 50%;
    margin: auto;
    text-align: center;
}
.describtion p{
    font-size: larger;
    
}
#btnStart{
    display: flex;
     font-size: medium;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 57);
    color: white;
    padding: 2%;
    border-radius: 15px;
}